/*Challenge 2 Style sheet*/
body {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 14px;
  text-transform: capitalize; 
  color:black;
}
.navbar-default .navbar-brand {
  color: black;
  font-size: 1.9em;
}
#nav-menu{
background-color: gray;
}
.navbar-default .navbar-nav > li > a {
  color:black;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #ddd;
}
a{
  color: white;
}
h3 {
	padding: 5px;
}
p {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-transform: lowercase;
}
.menu-content {
	border: 1px solid black;
	background-color: gray;
  margin-top: 15px;
  margin-bottom: 25px;
}

#title1 {
  background-color: #e9bcbc;
}
#title2 {
  background-color: #A52A2A;
}
#title3 {
  background-color: #DEB887;
}
.back-to-top {
padding-right: 5px;
padding-bottom: 5px;
}

